.main-wrapper {
  opacity: 0;
}

.splide__track {
  overflow: visible;
}

/* Remove spinner arrows from number inputs */
.loyer-input::-webkit-outer-spin-button,
.loyer-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loyer-input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Filter dropdown styles */
.filter-dropdown-wrapper {
  width: 100%;
}

.filter-select {
  background-position: right 1rem center;
  background-size: 1rem;
}

.filter-select:focus {
  border-color: currentColor;
  opacity: 0.8;
}
